html {
 font-size: 18px;
 font-family: georgia;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px 0 24px;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  display: block;
}

nav span {
  padding-left: 16px;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
}

.section-divide {
  background-color: #856363;
  width: 100%;
  color: #eee9e9;
}

.shadow {
  background-color: #eee9e9;
  width: 100%;
  color: black;
}

.info-block {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  justify-content: flex-start;
  padding: 30px 36px;
}

.info-card {
  display: flex;
  justify-content: center;
  width: auto;
  flex-flow: row wrap;
  margin: 0 15px 32px 15px;
  color: #eee9e9;
  width: 100%;
}

.info-card p{
  padding: 10px;
}

p {
  font-size: .9rem;
  font-family: helvetica;
}

.info-block-image {
  display: flex;
  justify-content: space-between;
}

.image-information-large {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 32px;
  padding-right: 32px;
}

.text-information {
  text-align: center;
}

.banner-image img {
  width: 100%;
  height: auto;
}

.banner-image {
  width: 60%;
  height: auto;
}

.banner-text {
display: flex;
flex-flow: wrap column;
justify-content: center;
margin-left: 40px;
width: 35%;

}

.image-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color:#856363;
  padding-bottom: 32px;
}

.image-information img {
  width: 100%;
  height: auto;
}

.information-side {
  width: 37%;
}

.blog {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee9e9;
  border-left: 1px solid #eee9e9;
  min-height: 168px;
  width: auto;

}

.blog-image {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 16px;
}

.blog-image img {
  display: block;
  height: auto;
  width: 100%;

}

.blog-header {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  margin-right: 8px;
}

.section-divide h2 {
  text-align: center;
  padding-top: 30px;
}


button {
  background-color: #856363;
  width: 100%;
  padding: 8px 0;
  color: white;
  text-align: center;
  font-size:18px;
}

video {
  width: 100%;
  height: auto;
}
.video-block {
  width: 60%;
  padding-right: 32px;
}

a {
  color: #8c1717;
  font-family: helvetica;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
