html {
 font-size: 18px;
 font-family: georgia;
}
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 24px 0 24px;
  height: 64px;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  display: block;
}

nav span {
  padding-left: 16px;
}

h2 {
  margin: 0;
  padding-bottom: 20px;
}

h3 {
  margin: 0;
}

p {
  font-size: .9rem;
  font-family: helvetica;
}

.section-divide {
  background-color: #856363;
  width: 100%;
  color: #eee9e9;
}

.section-divide h2 {
  text-align: center;
  padding-top: 30px;
}

.shadow {
  background-color: #eee9e9;
  width: 100%;
  color: black;
}

.info-block {
  display: flex;
  flex-flow: row wrap;
  width: auto;
  justify-content: flex-start;
  padding: 30px 36px;
}

.banner-text h3 {
  padding: 10px 0;
}

.banner-image img {
  width: 100%;
  height: auto;
}

.banner-image {
  width: 60%;
  height: auto;
}

.banner-text {
display: flex;
flex-flow: wrap column;
justify-content: center;
margin-left: 40px;
width: 30%;

}

button {
  background-color: #856363;
  width: 80%;
  padding: 15px 0;
  color: white;
  text-align: center;
  font-size:18px;

}

.image-information-large {
  display: flex;
  flex-direction: column;
  width: 60%;
  margin-bottom: 32px;
  padding-right: 32px;
}
.image-information-large img {
  width: 100%;
  height: auto;
}

.information-side {
  width: 37%;
}

.blog {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee9e9;
  border-left: 1px solid #eee9e9;
  min-height: 168px;
  width: auto;

}

.blog-image {
  display: block;
  max-width: 60%;
  height: auto;
  margin: 16px;
}

.blog-header {
  display: flex;
  flex-flow: wrap column;
  justify-content: flex-start;
  margin-right: 8px;
}

.info-block-image {
  display: flex;
  justify-content: space-between;
}

.info-card {
  display: flex;
  justify-content: center;
  width: auto;
  flex-flow: row wrap;
  margin: 0 15px 32px 15px;
  color: #eee9e9;
  width: 100%;
}

.info-card p{
  padding: 10px;
}

.image-information {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color:#856363;
  padding-bottom: 32px;
}

.image-information img {
  width: 100%;
  height: auto;
}

.text-information {
  padding-top: 30px;
  text-align: center;
}

video {
  width: 100%;
  height: auto;
}
.video-block {
  width: 60%;
  padding-right: 32px;
}

a {
  color: #8c1717;
  font-family: helvetica;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mobile-nav {
  display: flex;
  height: 64px;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.mobile-banner {
  display: block;
  width: 100%;
  height: auto;
}

.mobile-banner img {
  width: 100%;
  height: auto;
}

.mobile-info-card {
  background-color: #856363;
  color:#eee9e9;
  display: flex;
  flex-flow: column;
  padding: 16px;
}

.mobile-info-card img {
  width: 100%;
  height: auto;
}

.mobile-card-text {
  padding: 64px 16px;
}

.mobile-section-third {
  display: flex;
  flex-flow: column;
  justify-content: center;
  background-color:#eee9e9;
  padding: 32px 16px;
  text-align: center;
}

.start-learning-button {
  height: auto;
  margin-top: 8px;
  background-color:#856363;
  padding: 16px;
  color: #eee9e9;
  text-align: left;
}
#start-text {
  font-size: 1.5rem;
  font-family: helvetica;
 }

.mobile-video {
  display: block;
  background-color: #eee9e9;
  padding: 32px 16px;
  text-align: center;
}
.video-mobile {
  width: 100%;
  height:auto;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 150px) and (max-width : 670px) {

  nav {
    display: none;
  }

  .logo {
    display: none;
  }

  .banner-image {
    display: none;
  }
  .banner-text {
    width: 100%;
    margin: 0;
  }

  .banner-text h1 h3 {
    margin-right: 30px;
  }

  .info-block {
    padding: 16px;
  }

  button {
    width: 100%;
    margin: 16px 0;
  }

  #desktop {
    display: none;
  }
  #desktop-all {
    display: none;
  }

  .info {
    display: none;
  }



}
/* Smaller-width screens/tablets ----------- */
@media only screen  and (min-width : 670px) and (max-width : 1154px) {
 #desktop {
   display: none;
 }
 #mobile-nav {
   display: none;
 }
 .mobile-banner {
   display: none;
 }
 .mobile-section-third {
   display: none;
 }
}

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1154px) {
  #mobile-nav {
    display: none;
  }
  .mobile-banner {
    display: none;
  }

  .mobile-info-card {
    display: none;
  }

  .mobile-section-third {
    display: none;
  }
  .mobile-video {
    display: none;
  }
}
